/*
Color scheme: mcs-red
Custom main color: aa53a9
Width: 900
Min-width: 0
Max-width: 0
Brush: low
Background mountains: true
Background strips: false
Height: 228
Sub title: true
MCS logo: header
Type: 1
Tied to page width: false
Left menu: false
Right menu: true
Extra: ''
*/

a:link { color: #6e685e; }
a:visited, a:hover { color: #8a9aa9; }

#header {
  background-color: #bfdee8;
}

#header #title,
#header #title a,
#header #sub-title,
#header #sub-title a {
  color: #163754;
}

#header-bar {
  background-color: #163754;
}

#header .nav li a {
  color: white;
  background-color: #163754;
}

#header .nav li a:hover {
  background-color: #8a9aa9;
}

#header .nav li.current a {
  background-color: #163754;
}

/* :link,:visided due to IE 6 cascading */
.toc li a:link, .toc li a:visited {
  color: #8a9aa9;
}

.toc li a:hover {
  color: #163754;
}

#header-bar .doc {
  width: auto;
}

#header-bar .nav {
  margin-right: 10px;
}

#header-bar .logo {
  margin-left: 0.625em;
}

#header-bar {
  background-image: url("./img/hb/hback1.png");
  height: 41px;
  line-height: 41px;
}

#header-bar .dino {
  padding-bottom: 4px;
}

#header-bar .mozilla {
  padding-bottom: 6px;
}

#header-bar .mcs-logo-dark {
  display: none;
}

#header .doc {
  background-image: url("./img/header/bgmnt.png");
}

#header {
  background-image: url("./img/header/bgsidel.png");
}

#logo {
  display: block;
}

#header, #header .doc {
  height: 228px;
}

.doc {
  width: 900px;
  margin: 0 auto;
}

#footer {
  min-height: 74px;
}

#content {
  margin-left: 0;
}

#left-menu {
  display: none;
}

