<!-- INCLUDE mcp_header.html -->

<form id="mcp" method="post" action="{S_MCP_ACTION}">

<fieldset class="forum-selection">
	<label for="fo">{L_FORUM}: <select name="f" id="fo">{S_FORUM_OPTIONS}</select></label>
	<input type="submit" name="sort" value="{L_GO}" />
	{S_FORM_TOKEN}
</fieldset>

<h1>{L_TITLE}</h1>

	<p class="panel">{L_EXPLAIN}</p>

	<!-- IF .postrow -->
		<div class="display-actions">
			<!-- DEFINE $TOTAL = '{TOTAL}' -->
			<!-- INCLUDE pagination.html -->
			<div class="display-actions-end"></div>
		</div>
		<table class="normal-table">
			<thead>
				<tr>
					<th><!-- IF S_TOPICS -->{L_TOPIC}<!-- ELSE -->{L_POST}<!-- ENDIF --></th>
					<!-- IF not S_TOPICS --><td class="moderation">{L_TOPIC}</td><!-- ENDIF -->
					<td class="moderation">{L_FORUM}</td>
					<td class="mark-col">{L_MARK} <input type="checkbox" id="post_id_list_all" value="{postrow.POST_ID}" onclick="marklist_all('mcp', 'post_id_list[', 'post_id_list_all');" title="{L_MARK_ALL}" /></td>
				</tr>
			</thead>
			<tbody>

				<!-- BEGIN postrow -->

					<!-- IF postrow.S_DELETED_TOPIC -->
						<tr><th colspan="3">{L_DELETED_TOPIC}</th></tr>
					<!-- ELSE -->
						<tr>
							<th>
								<a href="{postrow.U_VIEW_DETAILS}" class="topictitle">{postrow.POST_SUBJECT}</a>
								<div class="desc">{L_POSTED} {L_POST_BY_AUTHOR} {postrow.POST_AUTHOR_FULL} &raquo; {postrow.POST_TIME}</div>
							</th>
							<!-- IF not S_TOPICS --><td class="moderation"><a href="{postrow.U_TOPIC}">{postrow.TOPIC_TITLE}</a></td><!-- ENDIF -->
							<td class="moderation"><a href="{postrow.U_VIEWFORUM}">{postrow.FORUM_NAME}</a></td>
				 			<td class="mark-col"><input type="checkbox" name="post_id_list[]" value="{postrow.POST_ID}" onclick="marklist_each('mcp', 'post_id_list[', 'post_id_list_all');" /></td>
						</tr>
					<!-- ENDIF -->
				<!-- END postrow -->
			</tbody>
		</table>

		<fieldset class="display-options">
			<label>{L_DISPLAY_POSTS}: {S_SELECT_SORT_DAYS}</label>
			<label>{L_SORT_BY} {S_SELECT_SORT_KEY}</label><label>{S_SELECT_SORT_DIR}</label>
			<!-- IF TOPIC_ID --><label><input type="checkbox" class="radio" name="t" value="{TOPIC_ID}" checked="checked" /> <strong>{L_ONLY_TOPIC}</strong></label><!-- ENDIF -->
			<input type="submit" name="sort" value="{L_GO}" />
		</fieldset>

		<div class="display-actions">
			<div class="buttons">
				<input type="submit" name="action[disapprove]" value="{L_DISAPPROVE}" />
				<input type="submit" name="action[approve]" value="{L_APPROVE}" />
			</div>
			<!-- INCLUDE pagination.html -->
			<div class="display-actions-end"></div>
		</div>

	<!-- ELSE -->
		<p class="no-entries"><!-- IF S_TOPICS -->{L_NO_TOPICS_QUEUE}<!-- ELSE -->{L_UNAPPROVED_POSTS_ZERO_TOTAL}<!-- ENDIF --></p>
	<!-- ENDIF -->

</form>

<!-- INCLUDE mcp_footer.html -->