<script type="text/javascript">
function showHidePollPanel() {
	document.getElementById('poll-panel').style.display = document.getElementById('poll-panel-check').checked ? 'block' : 'none';
	if (!document.getElementById('poll-panel-check').checked) {
		document.getElementById('poll_title').value='';
		document.getElementById('poll_option_text').value='';
	}
	if (document.getElementById('poll_delete'))
		document.getElementById('poll_delete').checked = !document.getElementById('poll-panel-check').checked;
	var hides = document_getElementsByClassName('poll-script-hide');
	for (var i = 0, hide; hide = hides[i]; i++)
		hide.style.display = 'none';
}
</script>
<div class="panel"><input type="checkbox" onclick="showHidePollPanel();" id="poll-panel-check"<!-- IF POLL_TITLE and not S_POLL_DELETE_CHECKED --> checked="checked"<!-- ENDIF --> /> <label for="poll-panel-check">{L_ADD_POLL}</label>
<div id="poll-panel">
	<!-- IF S_SHOW_POLL_BOX -->
	<p class="poll-script-hide">{L_ADD_POLL_EXPLAIN}</p>
	<!-- ENDIF -->

	<!-- IF S_SHOW_POLL_BOX -->
		<dl class="kvlist postingpolllist">
		<!-- IF S_POLL_DELETE -->
			<dt class="poll-script-hide"><label for="poll_delete">{L_POLL_DELETE}:</label></dt>
			<dd class="poll-script-hide"><label for="poll_delete"><input type="checkbox" name="poll_delete" id="poll_delete"<!-- IF S_POLL_DELETE_CHECKED --> checked="checked"<!-- ENDIF --> /> </label></dd>
		<!-- ENDIF -->
			<dt><label for="poll_title">{L_POLL_QUESTION}:</label></dt>
			<dd><input type="text" name="poll_title" id="poll_title" maxlength="255" value="{POLL_TITLE}" /></dd>
			<dt><label for="poll_option_text">{L_POLL_OPTIONS}:</label></dt>
			<dd><textarea name="poll_option_text" id="poll_option_text" rows="5" cols="35">{POLL_OPTIONS}</textarea><div class="explain">{L_POLL_OPTIONS_EXPLAIN}</div></dd>

			<dt><label for="poll_max_options">{L_POLL_MAX_OPTIONS}:</label></dt>
			<dd><input type="text" name="poll_max_options" id="poll_max_options" size="3" maxlength="3" value="{POLL_MAX_OPTIONS}" />
			<div class="explain">{L_POLL_MAX_OPTIONS_EXPLAIN}</div></dd>
			<dt><label for="poll_length">{L_POLL_FOR}:</label></dt>
			<dd><label for="poll_length"><input type="text" name="poll_length" id="poll_length" size="3" maxlength="3" value="{POLL_LENGTH}" /> {L_DAYS}</label>
			<div class="explain">{L_POLL_FOR_EXPLAIN}</div></dd>

		<!-- IF S_POLL_VOTE_CHANGE -->
				<dt><label for="poll_vote_change">{L_POLL_VOTE_CHANGE}:</label></dt>
				<dd><label for="poll_vote_change"><input type="checkbox" id="poll_vote_change" name="poll_vote_change"{VOTE_CHANGE_CHECKED} /> {L_POLL_VOTE_CHANGE_EXPLAIN}</label></dd>
		<!-- ENDIF -->
		</dl>

	<!-- ELSEIF S_POLL_DELETE -->
		<dl class="kvlist postingpolllist poll-script-hide">
			<dt><label for="poll_delete">{L_POLL_DELETE}:</label></dt>
			<dd><label for="poll_delete"><input type="checkbox" name="poll_delete" id="poll_delete"<!-- IF S_POLL_DELETE_CHECKED --> checked="checked"<!-- ENDIF --> /> </label></dd>
		</dl>
	<!-- ENDIF -->
</div>
</div>