<!-- INCLUDE ucp_header.html -->

<form id="ucp" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>

<h1>{L_TITLE}</h1>

<div class="panel">
	<p>{L_FOES_EXPLAIN}</p>

	<!-- IF ERROR --><p class="error">{ERROR}</p><!-- ENDIF -->
	<dl class="kvlist ucp-zebra">
		<dt><label <!-- IF S_USERNAME_OPTIONS -->for="usernames"<!-- ENDIF -->>{L_YOUR_FOES}:</label></dt>
		<dd>
			<!-- IF S_USERNAME_OPTIONS -->
				<select name="usernames[]" id="usernames" multiple="multiple" size="5">{S_USERNAME_OPTIONS}</select>
			<!-- ELSE -->
				<strong>{L_NO_FOES}</strong>
			<!-- ENDIF -->
			<div class="explain">{L_YOUR_FOES_EXPLAIN}</div>
		</dd>
		<dt><label for="add">{L_ADD_FOES}:</label></dt>
		<dd><textarea name="add" id="add" rows="3" cols="30">{USERNAMES}</textarea>
			<div class="explain">{L_ADD_FOES_EXPLAIN}</div></dd>
		<dd><strong><a href="{U_FIND_USERNAME}" onclick="find_username(this.href); return false;">{L_FIND_USERNAME}</a></strong></dd>
	</dl>
</div>

<div><input type="submit" name="submit" value="{L_SUBMIT}" />{S_HIDDEN_FIELDS}{S_FORM_TOKEN}</div>
</form>

<!-- INCLUDE ucp_footer.html -->